<!DOCTYPE html>
<html>
  {% include head.html %}
  <body unresolved fullbleed layout vertical>
    <core-header-panel flex>
      <core-toolbar>
        <div flex horizontal layout>
          <paper-icon-button icon="menu" onclick="document.getElementById('drawer').togglePanel();" self-center></paper-icon-button>
        </div>
        <a href="{{ site.baseurl }}/">
          <core-item id="site-name">
            {{ site.name }}
          </core-item>
        </a>
        <div flex></div>
      </core-toolbar>
      <div class="content">
        <core-drawer-panel forceNarrow drawerWidth="230px" id="drawer">
          <section drawer
            <br>
            <a href="{{ site.baseurl }}/"><paper-item><core-icon icon="home" role="img"></core-icon>Home</paper-item></a>
            <hr/>
            <core-item style="font-size: 16px; margin-left: 18px; font-weight: bold">Recent Posts</core-item>
            {% for post in site.posts offset: 0 limit: 10  %}
              <a href="{{ site.baseurl }}{{ post.url }}" class="post-link">
                <paper-button class="button-content">
                  {{ post.title }}
                </paper-button>
              </a>
            {% endfor %}
            <hr/>
            <a href="{{ site.baseurl }}/about">
              <paper-item>
                  <core-image sizing="contain" src="{{ site.baseurl }}/{{ site.avatar }}" class="avatar"></core-image>
                  About Me
              </paper-item>
            </a> 
            <div class="credits">Built with <core-icon icon="polymer"></core-icon> for Github</div>
          </section>
          <section center-justified layout main>
            {{ content }}
            <footer class="footer">
              {% include svg-icons.html %}
            </footer>
          </section>
        </core-drawer-panel>
      </div>
    </core-header-panel>
    {% include analytics.html %}
  </body>
</html>
